
body {
  user-select: none;
  margin: 0;
  padding: 0%;
  /* background-color: rgb(64, 165, 64); */
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
